.news-content {
  margin-top: 90px;
}
.news-date {
  color: #919191;
  margin-bottom: 10px;
  padding-top: 20px;
}
.news-items {
  margin-bottom: 80px;
}
.news-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 575.98px) {
  .news-items {
    margin-bottom: 15px;
  }
}
